.detailCartRoot {
    display: flex;
    flex-direction: column;
    width: 600px;
    border: 1px solid #dbdbdb;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.detailCartHeader {
    display: flex;
    align-items: center;
    justify-content: start;
    height: 60px;
    padding-left: 20px;
    background-color: #fff;
}

.detailCartImg {
    height: 300px;
    width: 100%;
}

.detailCartButtons {
    display: flex;
    padding: 10px;
}

.detailCartLikes {
    font-size: 14px;
    font-size: 600;
    padding: 10px;
}
.detailCartLike {
    margin-right: 10px;
    cursor: pointer;
}

.detailCartComments {
    display: flex;
    flex-direction: column;
    padding: 0 10px 10px 10px;
}

.detailCartTextarea {
    border: none;
    background-color: #fff;
    padding: 10px;
    outline: none;
    resize: none;
}

.detailCartCommentTitle {
    font-size: 14px;
    color: #dbdbdb;
    cursor: pointer;
}